@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #6E9EF5;
  }

  .container.up {
    background-color: #333366;
  }

  .container.right {
    background-color: #FF6666;
  }
  
  .container.left {
    background-color: #54B754;
  }

  .animate-up {
    opacity: 0;
    transform: translateY(100%); 
    transition: all .5s; 
    animation-delay: .5s;
  }
  
  .animate-up.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .animate-right {
    opacity: 0;
    transform: translateX(100%); 
    transition: all .5s; 
    animation-delay: .5s;
  }
  
  .animate-right.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .animate-left {
    opacity: 0;
    transform: translateX(-100%); 
    transition: all .5s; 
    animation-delay: .5s;
  }
  
  .animate-left.visible {
    opacity: 1;
    transform: translateY(0);
  }